{# src/PC/PlatformBundle/Resources/views/Recipe/formAdd.html.twig #}

<h3>Formulaire de Recette</h3>

<div class="well">
  {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form) }}

  {# NOM : Génération manuelle et éclatée : #}
  <div class="form-group">
    {# Génération du label. #}
    {{ form_label(form.name, "Nom de la recette", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

    {# Affichage des erreurs pour ce champ précis. #}
    {{ form_errors(form.name) }}

    <div class="col-sm-10">
      {# Génération de l'input. #}
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# shortDescription #}
  <div class="form-group">
    {{ form_label(form.shortDescription, "Présentation rapide", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.shortDescription) }}
    <div class="col-sm-10">
      {{ form_widget(form.shortDescription, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# longDescription #}
  <div class="form-group">
    {{ form_label(form.longDescription, "Description complète", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
    {{ form_errors(form.longDescription) }}
    <div class="col-sm-10">
      {{ form_widget(form.longDescription, {'attr': {'class': 'form-control'}}) }}
    </div>
  </div>

  {# recipeIngredients #}
  <div>
      {{ form_label(form.recipeIngredients, 'Liste des ingrédients', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.recipeIngredients) }}
      <div class="col-sm-10">
          {{ form_widget(form.recipeIngredients, {'attr': {'class': 'form-inline'}}) }}
      </div>
      <div class="row">
          <div class="col-xs-2">

          </div>
          <div class="col-xs-4">
              <a href="#" class="btn btn-block btn-primary" id="add_ingredient" data-toggle="tooltip" title="Parmis les ingrédients déjà créé.">
                  <span class="glyphicon glyphicon-plus-sign">
                  </span> Ajouter un ingrédient
              </a>
          </div>
          <div class="col-xs-4">
              <a href="{{path('pc_platform_ingredient_add')}}" data-toggle="tooltip" title="S'il n'est pas déjà dans la liste !" class="btn btn-default">
                  <span class="glyphicon glyphicon-pencil">
                  </span> Créer un ingrédient
              </a>
          </div>
      </div>
      <br>
  </div>

  {{ form_row(form.cookingTime) }}
  {{ form_row(form.rating) }}
  {{ form_row(form.categories) }}

  {# Image #}
  <div>
      {{ form_label(form.image, 'Image', {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
      {{ form_errors(form.image) }}
      <div class="col-sm-10">
          {{ form_widget(form.image) }}
      </div>
  </div>

  {# Génération automatique des champs pas encore écrits.
     Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
     et tous les champs cachés (type « hidden »). #}


  {{ form_rest(form) }}

  {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form) }}
</div>
