{# src/PC/PlatformBundle/Resources/views/Recipe/formSearch.html.twig #}

<div class="well">
      <div class="row">
          <h3 class='text-center'>Recherche de recettes</h3>
      </div>
      <div class="row">
          {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          {# Les erreurs générales du formulaire. #}
          {{ form_errors(form) }}
      </div>

    {# Keyword #}
    <div class="row">
      <div class="form-group">
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.keyword) }}
        <div class="col-xs-12">
          {# Génération de l'input. #}
          {{ form_widget(form.keyword, {'attr': {'class': 'form-control input-md', 'type': 'search', 'placeholder': 'Mot dans le titre'}}) }}
        </div>'
      </div>
    </div>

    {# Diet : Génération manuelle et éclatée #}
    <div class="row">
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.diet) }}
            <div class="col-xs-12 center-block">
              <div class="checkbox">
                {# Génération de l'input. #}
                {{ form_widget(form.diet, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
              </div>
            </div>
        </div>
    </div>

    {# eco : Génération manuelle et éclatée #}
    <div class="row">
          <div class="form-group">
            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.eco) }}
            <div class="col-xs-12 center-block">
                <div class="checkbox">
                  {# Génération de l'input. #}
                  {{ form_widget(form.eco, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
                </div>
            </div>
          </div>
    </div>

    {# quick : Génération manuelle et éclatée #}
    <div class="row">
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.quick) }}
          <div class="col-xs-12 center-block">
              <div class="checkbox">
                  {# Génération de l'input. #}
                  {{ form_widget(form.quick, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
              </div>
          </div>
        </div>
    </div>

    {# rating : Génération manuelle et éclatée #}
    <div class="row">
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.rating) }}
          <div class="col-xs-12 center-block">
          {# Génération de l'input. #}
            {{ form_widget(form.rating, {'attr': {'class':'rating hidden'}}) }}
          </div>
        </div>
    </div>
    <div class="row" style="margin:10px">
    {# rating : Génération manuelle et éclatée #}
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.styles) }}
          <div class="col-xs-12 center-block">
          {# Génération de l'input. #}
            {{ form_widget(form.styles) }}
          </div>
        </div>
    </div>

    <div class="row">

        {# Génération automatique des champs pas encore écrits.
        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
        et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
    </div>
</div>
