{# src/PC/PlatformBundle/Resources/views/Recipe/widget_small_recipe.html.twig #}
<div style="padding:10px">
    <a href="{{ path('pc_platform_view', {'slug': recipe.slug}) }}" class="smallRecipeLink">
        {# Conteneur #}
        <div class="row smallRecipeContainer" >
            {# TITRE #}
            <div class="row">
                <div class="col-xs-12">
                    {# Limite le nombre de caractère à 50 dans le titre. #}
                    <strong>{{ recipe.name|length > 30 ? recipe.name|slice(0, 27) ~ '...' : recipe.name  }}</strong>
                </div>
            </div>

            {# IMAGE + INFOS DIVERSES#}
            <div class="row hidden-md">

                {# IMAGE #}
                {% if recipe.image is defined %}
                <div class="col-xs-6">
                    <img class="img-smallRecipe recipe-default-img" src="{{recipe.image.url}}" alt="">
                </div>
                {% endif %}

                {# INFOS #}
                <div class="col-xs-6">
                    {# auteur #}
                    <div class="row">
                        <p class="text-center"><span class="glyphicon glyphicon-pencil"></span><strong> {{recipe.user}}</strong></p>
                    </div>
                    {# tps / prix / calorie #}
                    <div class="row">
                        {# tps #}
                        <div class="col-xs-6 small-view-info">
                            {# affiche 1, 2 ou 3 au max sablier en fonction du temps de préparation #}
                            {% for i in range(0, (recipe.cookingTime // 20) ) if i <= 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:#ebebeb"></span>
                            {% endfor %}

                            {# affiche 1 ou 2 sabliers en grisé. #}
                            {% if (recipe.cookingTime // 20) < 1 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                            {% elseif (recipe.cookingTime // 20) < 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                            {% endif %}
                        </div>
                        {# prix #}
                        <div class="col-xs-3 small-view-info">
                            {# affiche un euro en vert/rouge en fonction du prix #}
                            {% if recipe.price > 20 %}
                            <p style="color:IndianRed">
                            {% elseif recipe.price < 10 %}
                            <p style="color:#4cae4c">
                            {% else %}
                            <p style="color:#ebebeb">
                            {% endif %}
                            <span class="glyphicon glyphicon-eur" data-toggle="tooltip" title="{{recipe.price|number_format(2)}} euros"></span>
                            </p>
                        </div>
                        {# calorie #}
                        <div class="col-xs-3 small-view-info">
                            {# affiche une balance en vert/rouge en fonction des calorie #}
                            {% if recipe.calorie > 700 %}
                            <p style="color:IndianRed">
                            {% elseif recipe.calorie > 300 %}
                            <p style="color:#ebebeb">
                            {% else %}
                            <p style="color:#4cae4c">
                            {% endif %}
                            <span class="glyphicon glyphicon-scale" data-toggle="tooltip" title="{{recipe.calorie}} cal./personne"></span>
                            </p>
                        </div>

                    </div>
                    {# note #}
                    <div class="row">
                        {% include 'PCPlatformBundle:Recipe:widget_rating.html.twig' %}
                    </div>
                    {# La première catégorie + ... s'il y en a plusieurs. #}
                    <div class="row">
                        {% for cat in recipe.categories|slice(0,1) %}
                        <span class="label label-default">{{cat.name}}</span>
                        {% endfor %}
                        {% if recipe.categories|length > 1 %}
                        <span class="label label-default" data-toggle="tooltip" title="{{recipe.categories|join(', ')}}">...</span>
                        {% endif %}
                    </div>
                </div>
            </div>

            {# Seulement pour la classe md : les infos sont sous l'images qui est à 12 col#}
            <div class="row visible-md-block">
                {# IMAGE #}
                {% if recipe.image is defined %}
                <div class="col-md-12">
                    <img class="img-smallRecipe recipe-default-img" src="{{recipe.image.url}}" alt="">
                </div>
                {% endif %}
                <div class="col-md-12">
                    <br>
                    {# auteur #}
                    <p class="text-center"><span class="glyphicon glyphicon-pencil"></span><strong> {{recipe.user}}</strong></p>
                    {# tps / prix / calorie #}
                        {# tps #}
                        <div class="col-xs-6">
                            {# affiche 1, 2 ou 3 au max sablier en fonction du temps de préparation #}
                            {% for i in range(0, (recipe.cookingTime // 20) ) if i <= 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:#ebebeb"></span>
                            {% endfor %}

                            {# affiche 1 ou 2 sabliers en grisé. #}
                            {% if (recipe.cookingTime // 20) < 1 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                            {% elseif (recipe.cookingTime // 20) < 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:grey"></span>
                            {% endif %}
                        </div>
                        {# prix #}
                        <div class="col-xs-3">
                            {# affiche un euro en vert/rouge en fonction du prix #}
                            {% if recipe.price > 20 %}
                            <p style="color:IndianRed">
                            {% elseif recipe.price < 10 %}
                            <p style="color:#4cae4c">
                            {% else %}
                            <p style="color:#ebebeb">
                            {% endif %}
                            <span class="glyphicon glyphicon-eur" data-toggle="tooltip" title="{{recipe.price|number_format(2)}} euros"></span>
                            </p>
                        </div>
                        {# calorie #}
                        <div class="col-xs-3">
                            {# affiche une balance en vert/rouge en fonction des calorie #}
                            {% if recipe.calorie > 700 %}
                            <p style="color:IndianRed">
                            {% elseif recipe.calorie > 300 %}
                            <p style="color:#ebebeb">
                            {% else %}
                            <p style="color:#4cae4c">
                            {% endif %}
                            <span class="glyphicon glyphicon-scale" data-toggle="tooltip" title="{{recipe.calorie}} cal./personne"></span>
                            </p>
                        </div>
                    {# note #}
                    <div class="col-md-12">
                        {% include 'PCPlatformBundle:Recipe:widget_rating.html.twig' %}
                    </div>
                    {# Les deux premières catégories + ... s'il y en a plus. #}
                    <div class="col-md-12">
                        {% for cat in recipe.categories|slice(0,2) %}
                        <span class="label label-default">{{cat.name}}</span>
                        {% endfor %}
                        {% if recipe.categories|length > 2 %}
                        <span class="label label-default" data-toggle="tooltip" title="{{recipe.categories|join(', ')}}">...</span>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </a>
</div>
