{# src/PC/PlatformBundle/Resources/views/Recipe/widget_small_recipe.html.twig #}
<div style="padding:10px">
    <a href="{{ path('pc_platform_view', {'slug': recipe.slug}) }}" class="smallRecipeLink">
        {# Conteneur #}
        <div class="row smallRecipeContainer" >
            {# TITRE #}
            <div class="row">
                <div class="col-xs-12">
                    {# Limite le nombre de caractère à 50 dans le titre. #}
                    <strong>{{ recipe.name|length > 50 ? recipe.name|slice(0, 50) ~ '...' : recipe.name  }}</strong>
                </div>
            </div>

            {# IMAGE + INFOS DIVERSES#}
            <div class="row hidden-md">

                {# IMAGE #}
                {% if recipe.image is defined %}
                <div class="col-xs-6">
                    <img class="img-smallRecipe recipe-default-img" src="{{recipe.image.url}}" alt="">
                </div>
                {% endif %}

                {# INFOS #}
                <div class="col-xs-6">
                    {# auteur #}
                    <div class="row">
                        <p class="text-center"><span class="glyphicon glyphicon-pencil"></span><strong>{{recipe.user}}</strong></p>
                    </div>
                    {# tps / prix / calorie #}
                    <div class="row">
                        {# tps #}
                        <div class="col-xs-6">
                            <div class="row">
                                {# affiche 1, 2 ou 3 au max sablier en fonction du temps de préparation #}
                                {% for i in range(0, (recipe.cookingTime // 20) ) if i <= 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:#ebebeb"></span>
                                {% endfor %}
                            </div>
                        </div>
                        {# prix #}
                        <div class="col-xs-3">
                            <div class="row">
                                {# affiche un euro en vert/rouge en fonction du prix #}
                                {% if recipe.price > 20 %}
                                <p style="color:IndianRed">
                                {% elseif recipe.price < 10 %}
                                <p style="color:#4cae4c">
                                {% else %}
                                <p style="color:#ebebeb">
                                {% endif %}
                                <span class="glyphicon glyphicon-eur"></span>
                                </p>
                            </div>
                        </div>
                        {# calorie #}
                        <div class="col-xs-3">
                            <div class="row">
                                {# affiche une balance en vert/rouge en fonction des calorie #}
                                {% if recipe.calorie > 700 %}
                                <p style="color:IndianRed">
                                {% elseif recipe.calorie > 300 %}
                                <p style="color:#ebebeb">
                                {% else %}
                                <p style="color:#4cae4c">
                                {% endif %}
                                <span class="glyphicon glyphicon-scale"></span>
                                </p>
                            </div>
                        </div>

                    </div>
                    {# note #}
                    <div class="row">
                        {% include 'PCPlatformBundle:Recipe:widget_rating.html.twig' %}
                    </div>
                    {# 3 premières catégories #}
                    <div class="row">
                        {% for cat in recipe.categories|slice(0,2) %}
                        <span class="label label-default">{{cat.name}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Seulement pour la classe md : les infos sont sous l'images qui est à 12 col#}
            <div class="row visible-md-block">
                {# IMAGE #}
                {% if recipe.image is defined %}
                <div class="col-md-12">
                    <img class="img-smallRecipe recipe-default-img" src="{{recipe.image.url}}" alt="">
                </div>
                {% endif %}
                <div class="col-md-12">
                    <br>
                    {# auteur #}
                    <p class="text-center"><span class="glyphicon glyphicon-pencil"></span><strong>{{recipe.user}}</strong></p>
                    {# tps / prix / calorie #}
                        {# tps #}
                        <div class="col-xs-6">
                                {# affiche 1, 2 ou 3 au max sablier en fonction du temps de préparation #}
                                {% for i in range(0, (recipe.cookingTime // 20) ) if i <= 2 %}
                                <span class="glyphicon glyphicon-hourglass" style="color:#ebebeb"></span>
                                {% endfor %}
                        </div>
                        {# prix #}
                        <div class="col-xs-3">
                                {# affiche un euro en vert/rouge en fonction du prix #}
                                {% if recipe.price > 20 %}
                                <p style="color:IndianRed">
                                {% elseif recipe.price < 10 %}
                                <p style="color:#4cae4c">
                                {% else %}
                                <p style="color:#ebebeb">
                                {% endif %}
                                <span class="glyphicon glyphicon-eur"></span>
                                </p>
                        </div>
                        {# calorie #}
                        <div class="col-xs-3">
                                {# affiche une balance en vert/rouge en fonction des calorie #}
                                {% if recipe.calorie > 700 %}
                                <p style="color:IndianRed">
                                {% elseif recipe.calorie > 300 %}
                                <p style="color:#ebebeb">
                                {% else %}
                                <p style="color:#4cae4c">
                                {% endif %}
                                <span class="glyphicon glyphicon-scale"></span>
                                </p>
                        </div>
                    {# note #}
                        {% include 'PCPlatformBundle:Recipe:widget_rating.html.twig' %}
                    {# 3 premières catégories #}
                        {% for cat in recipe.categories|slice(0,2) %}
                        <span class="label label-default">{{cat.name}}</span>
                        {% endfor %}
                </div>
            </div>

            {# COURTE DESCRIPTION #}
            <div class="row">
                <div class="col-xs-12">
                    <p>{{recipe.shortDescription|length >= 40 ? recipe.shortDescription|slice(0, 37) ~ '...' : recipe.shortDescription}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
