<a href="{{ path('pc_platform_view', {'id': recipe.id}) }}" style="color:#000000 !important; text-decoration:none;">
    {# Conteneur #}
    <div class="row" style="padding-right:10px" >
        {# TITRE #}
        <div class="row">
            <div class="col-xs-12">
                {# Limite le nombre de caractère à 50 dans le titre. #}
                <strong>{{ recipe.name|length > 50 ? recipe.name|slice(0, 50) ~ '...' : recipe.name  }}</strong>
            </div>
        </div>

        {# IMAGE + INFOS DIVERSES#}
        <div class="row">

            {# IMAGE #}
            {% if recipe.image is defined %}
            <div class="col-xs-6">
                <img class="img-responsive img-rounded" src="{{recipe.image.url}}" alt="{{recipe.image.alt}}">
            </div>
            {% endif %}

            {# INFOS #}
            <div class="col-xs-6">
                {# auteur #}
                <div class="row">
                    <p><span class="glyphicon glyphicon-pencil"></span><strong> author</strong></p>
                </div>
                {# tps préparation #}
                <div class="row">
                    {# valeur de cookingTime à parametrer #}
                    {% if recipe.cookingTime > 20 %}
                        <p style="color:IndianRed">
                    {% else %}
                        <p>
                    {% endif %}
                    <span class="glyphicon glyphicon-hourglass"></span>{{recipe.cookingTime}} mn</p>
                </div>
                {# note #}
                <div class="row">
                    {% include 'PCPlatformBundle:Recipe:widget_rating.html.twig' %}
                </div>
                {# info : diet/eco + la première des catégories (italien, asiat, etc.) #}
                <div class="row">

                    {% include 'PCPlatformBundle:Recipe:widget_price_and_calorie.html.twig' %}

                    {# 1er élément des catégories #}
                        <span class="label label-primary">{{recipe.categories|first}}</span>
                </div>
            </div>
        </div>

        {# COURTE DESCRIPTION #}
        <div class="row">
            <div class="col-xs-12">
                <p>{{recipe.shortDescription|length > 50 ? recipe.shortDescription|slice(0, 50) ~ '...' : recipe.shortDescription}}</p>
            </div>
        </div>
    </div>
</a>
