{# Retour à la liste #}
<div class="row" style="margin-top:10px">
    <div class="col-xs-12">
        <a href="{{path('pc_platform_recipe_index')}}" class="btn btn-block btn-primary">
            <span class="glyphicon glyphicon-th-large">
            </span> Retour à la liste
        </a>
    </div>
</div>

{# Ajouter à la shoppingList #}
{% if not isInUserShoppingList %}
<div class="row" style="margin-top:10px">
    <div class="col-xs-12">
        <a href="{{path('pc_platform_shoppinglist_add_recipe', {'id': recipe.id})}}" class="btn btn-block btn-success">
            <span class="glyphicon glyphicon-plus-sign">
            </span> Ajouter à la liste
        </a>
    </div>
</div>
{% endif %}

{# Enlever de la shoppingList #}
{% if isInUserShoppingList %}
<div class="row" style="margin-top:10px">
    <div class="col-xs-12">
        <a href="{{path('pc_platform_shoppinglist_remove_recipe', {'id': recipe.id})}}" class="btn btn-block btn-warning">
            <span class="glyphicon glyphicon-minus-sign">
            </span> Enlever de la liste
        </a>
    </div>
</div>
{% endif %}


{# edit  accessible seulement pour l'auteur de la recette #}
{% if app.user.username == recipe.user.username %}
<div class="row" style="margin-top:10px">
    <div class="col-xs-12">
        <a href="{{path('pc_platform_edit', {'id': recipe.id})}}" class="btn btn-block btn-primary btn-warning">
            <span class="glyphicon glyphicon-pencil">
            </span>  Modifier
        </a>
    </div>
</div>

{# delete  accessible seulement pour l'auteur de la recette #}
<div class="row" style="margin-top:10px">
    <div class="col-xs-12">
        <a href="{{path('pc_platform_delete', {'id': recipe.id})}}" class="btn btn-block btn-primary btn-danger">
            <span class="glyphicon glyphicon-trash">
            </span>  Supprimer
        </a>
    </div>
</div>
{% endif %}
