{# src/PC/PlatformBundle/Resources/views/ShoppingList/view_menu.html.twig #}
<div class="well">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Options</div>
                  <div class="panel-body">
                    {#
                        Permet à l'utilisateur de voir les filtres amenant à la liste de courses.
                    #}
                    {# filtre sur des attributs de type booléen. #}
                    {% if shoppingListOption.diet %}<span class="label label-success">diet</span>{% endif %}
                    {% if shoppingListOption.quick %}<span class="label label-success">quick</span>{% endif %}
                    {% if shoppingListOption.eco %}<span class="label label-success">eco</span>{% endif %}
                    {# filtre sur attributs type array #}
                    {% for style in shoppingListOption.styles %}
                        <span class="label label-default">{{style.name}}</span>
                    {% endfor %}
                  </div>
            </div>
            <div class="panel panel-default">
                  <!-- Default panel contents -->
                  <div class="panel-heading">Courses</div>
                  <table class="table table-bordered table-striped table-condensed">
                      <tbody>
                          {% for catName, cat in shoppingList.IngredientList %}
                            <tr>
                                <th class="bg-default" scope="rowgroup" colspan="3" class="text-center">{{catName}}</th>
                            </tr>
                            {% for ingredient in cat %}
                                <tr>
                                    <td>{{ingredient.name}}</td>
                                    <td>{{ingredient.quantity}} {{ingredient.unit.name}}
                                        <span class="label label-default label-as-badge pull-right">
                                            {{(ingredient.quantity * ingredient.price)|number_format(2, '.', ',')}}
                                            <span class="glyphicon glyphicon-eur"></span>
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                        <tr>
                            <th class="bg-default" scope="rowgroup" colspan="3">Total
                                <span class="label label-primary label-as-badge pull-right">
                                {{shoppingList.totalPrice|number_format(2, '.', ',')}}
                                <span class="glyphicon glyphicon-eur"></span>
                                </span>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_add_recipe.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_add_shopping_list.html.twig'%}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% include 'PCPlatformBundle:ShoppingList:widget_import_shopping_list.html.twig'%}
        </div>
    </div>
</div>
