{# src/PC/PlatformBundle/Resources/views/ShoppingList/view.html.twig #}

{% extends "PCPlatformBundle::layout.html.twig" %}

{% block pcplatform_article %}

    <div class="row">
        <h1>Vue d'une liste de courses (n°{{shoppingList.id}})</h1>
    </div>
    <div class="row">
        <h2>Les recettes selectionnées pour vous</h2>

        {% for recipe in shoppingList.recipes %}
        {% include 'PCPlatformBundle:Recipe:widget_small_recipe.html.twig' %}
        {% endfor %}
    </div>
    <div class="row">
        <h2>La liste des courses</h2>
        {% for catName, cat in shoppingList.groupedIngredientList %}
        <h3>{{catName}}</h3>
            <ul>
                {% for ingredient in cat %}
                    <li>{{ingredient.quantity}} {{ingredient.unit.name}} {{ingredient.name}} : {{ingredient.price * ingredient.quantity}} euros</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

{% endblock %}
