{# src/PC/PlatformBundle/Resources/views/ShoppingListOption/edit_form.html.twig #}

<div class="well">
      {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
      {# Les erreurs générales du formulaire. #}
      {{ form_errors(form) }}

    {# Diet : Génération manuelle et éclatée #}
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.diet) }}
            <div class="col-xs-12 center-block">
              <div class="checkbox">
                {# Génération de l'input. #}
                {{ form_widget(form.diet, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
              </div>
            </div>
        </div>

    {# eco : Génération manuelle et éclatée #}
      <div class="form-group">
        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.eco) }}
        <div class="col-xs-12 center-block">
            <div class="checkbox">
              {# Génération de l'input. #}
              {{ form_widget(form.eco, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
            </div>
        </div>
      </div>

    {# quick : Génération manuelle et éclatée #}
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.quick) }}
          <div class="col-xs-12 center-block">
              <div class="checkbox">
                  {# Génération de l'input. #}
                  {{ form_widget(form.quick, {'attr': {'data-toggle': 'toggle', 'type': 'checkbox'}}) }}
              </div>
          </div>
        </div>



    {# rating : Génération manuelle et éclatée #}
        <div class="form-group">
          {# Affichage des erreurs pour ce champ précis. #}
          {{ form_errors(form.rating) }}
          <div class="col-xs-12 center-block">
          {# Génération de l'input.
              On utilise une classe spé 'rating', avec 'hidden' qui permet d'afficher
              des étoiles pour choisir la note, par contre on est obligé d'écrire le
              label en dur dans un <span> .
          #}
            {{ form_widget(form.rating, {'attr': {'class':'rating hidden'}}) }}
            <span>Note minimum</span>
          </div>
        </div>

        {# Génération automatique des champs pas encore écrits.
        Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
        et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
</div>
